body{
    background: rgb(95, 92, 90);
}
.contenedor{
    height: 440px;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
}
.contenedor .imagen{
    width: 50%;
}
.contenedor .imagen img{
    width: 100%;
    vertical-align: top;
}
.mensaje{
    width: 50%;
    border-radius: 0px 7px 10px 7px;
    background: linear-gradient(-90deg, rgb(175, 182, 175), rgb(235, 235, 255));
}
.mensaje:hover{
    background: linear-gradient(rgb(41, 115, 175), rgb(141, 146, 126));
}
.texto{
    width: 100%;
}
.texto h1{
    margin-left: 40px;
    padding-top: 15px;
    font-size: 32px;
    color: rgb(182, 41, 41);
}
.texto h1, .precio{
    font-family: fantasy;
}
.texto p{
    height: 100px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 49);
}
.precio{
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.precio, .soy1, .soy2{
    font-family: fantasy;
    font-size: 20px;
    border-radius: 50px;
    color: rgb(182, 41, 41);
    text-decoration: none;
    text-align: center;
} 
.soy1, .soy2{
    width: 35%;
    background-color: rgb(24, 21, 21);
}
.precio a:hover{
    background: rgb(41, 115, 175);
}
